//----IMPORTS----//
@import "styles.rasi"


//----CONFIG----//
configuration {
    font: "Roboto Mono 12";
    show-icons: true;
    drun-display-format: "{name}";

    timeout {
        action: "kb-cancel";
	delay:  0;
    }

    filebrowser {
        directories-first: true;
        sorting-method: "name";
    }
}
